{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<br>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {% from 'form_macros.html' import render_field %}

    {{ render_field(form.title) }}
    {{ render_field(form.content) }}
    <div class="category">{{ render_field(form.category) }}</div>
    <div class="is_active">{{ render_field(form.is_active) }}</div>
    <div class="publish_date">{{ render_field(form.publish_date) }}</div>

    {{ form.submit(class="btn btn-primary") }}
</form>
<br>
<a href="{{ url_for('.detail_post', id=post.id) }}">Return to post</a>

{% endblock %}